@{
    ViewBag.Title = "Home Page";
}
<div class="panel"></div>

<div class="panel" style="float:left; width:60%">
    <div class="panel-heading">News</div>
    <div class="panel-body">Panel Content</div>
</div>

<div class="panel" style="float:left; width:2%">
</div>


<div class="panel" style="float:left; width:38%">
    <div class="panel-heading" style="background-color:#fe5101">Top games</div>
    <div class="panel-body">Panel Content</div>
</div>
<div></div>
<div class="panel" style="        float: left;
        width: 60%">
    <div class="panel-heading">Events</div>
    <div class="panel-body">Panel Content</div>
</div>

<div class="panel" style="float:left; width:2%">
</div>


<div class="panel" style="float:left; width:38%">
    <div class="panel-heading" style="background-color:#fe5101">Top players</div>
    <div class="panel-body">Panel Content</div>
</div>

